<!DOCTYPE HTML>
<html>
  <head>
    <title> <%= @page_title || "OCS Assignments" %> </title>
    <link rel="stylesheet" href="global.css">
  </head>

  <header>
    <div id="title">OCS Assignments</div>
  </header>

  <body>
    <%= yield %>
    <script type="text/javascript" src="global.js"></script>
  </body>

</html>
