<h3> Add Link to Database</h3>

<form action= "/create_link">

  <p>URL: <input type="name" name="url" value="<%= params["url"] %>"></p>

  <TABLE BORDER="5">
    <TH>ID</TH>
    <TH> Assignment Name</TH>
    <TH></TH>

    <% Assignment.all.each do |item| %>

      <TR>
        <TD><%= "#{item.id}" %>.</TD>
        <TD><%= "#{item.name}" %></TD>
      </TR>

    <% end %>

  </TABLE>

  <p>Assignment ID: <input type="number" name="assignment_id" value="<%= params["assignment_id"] %>"></p>

  <input type="submit" value="add link">

</form>
