<p><h4>Error: Assignments require a name and a description.</h4></p>

<input type="hidden" name="name" value="<%= params["name"] %>">
<input type="hidden" name="description" value="<%= params["description"] %>">

<meta http-equiv="refresh" content ="3; url=/add_assignment_form">
