<h3> Add Assignment to Database</h3>

<form action= "/create_assignment">

  <p>Name: <input type="name" name="name" value="<%= params["name"] %>"></p>

  <p>Description: <input type="name" name="description" value="<%= params["description"] %>"></p>

  <input type="submit" value="add assignment">

</form>
