Assignments Menu

<a href="/create_assignment_form">CREATE assignments</a>

<a href="/read_assignments_menu">READ assignments</a>

<a href="/update_assignments_form">UPDATE assignments</a>

<a href="/delete_assignments_form">DELETE assignments</a>
