<p><h4>Error: Collaborators require a name and an assignment id</h4></p>

<input type="hidden" name="name" value="<%= params["name"] %>">
<input type="hidden" name="assignment_id" value="<%= params["assignment_id"] %>">

<meta http-equiv="refresh" content ="3; url=/add_collaborator_form">
