<p><h4>Error: Links require a URL and an assignment id</h4></p>

<input type="hidden" name="url" value="<%= params["url"] %>">
<input type="hidden" name="assignment_id" value="<%= params["assignment_id"] %>">

<meta http-equiv="refresh" content ="3; url=/add_link_form">
