<h3> Add collaborator to Database</h3>

<form action= "/create_collaborator">

  <p>Name: <input type="name" name="name" value="<%= params["name"] %>"></p>

  <!-- <p>Assignment ID: <input type="number" name="assignment_id" value="<%= params["assignment_id"] %>"></p> -->

  <input type="submit" value="add collaborator">

</form>
