<h3> Add Link to Database</h3>

<form action= "/create_link">

  <p>URL: <input type="name" name="name" value="<%= params["url"] %>"></p>

  <p>Assignment ID: <input type="number" name="assignment_id" value="<%= params["assignment_id"] %>"></p>

  <input type="submit" value="add link">

</form>
