collaborators Menu

<a href="/create_collaborator_form">CREATE collaborators</a>

<a href="/read_collaborators_menu">READ collaborators</a>

<a href="/update_collaborators_form">UPDATE collaborators</a>

<a href="/delete_collaborators_form">DELETE collaborators</a>
